.App {
  text-align: center;
}

.pokemon-container {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}

.pokemon-card{
  border: 5px solid #fee;
  border-radius: 5px;
  box-shadow: 10px 5px 5px #333;
}

.pokemon-image-thumb {
  width: 200px;
}

.pagination {
  display: flex;
  justify-content: center;
}

figure {
  background: #555;
  margin: 0;
}

.pokemon-details {
  text-align: left;
  background-color: #fef0f0;
}

.pokemon-card label{
  font-weight: bold;
  padding: 5px;
}